@import url("/css/home/header.css");
@import url("/css/settings.css");
@import url("/css/home/show_home_block.css");

:root {
  --text-color: #161616;
  --background-color: rgb(255, 255, 255);
  --border-color: rgb(111, 179, 111);
  --margin-right: 18px;

}

.block-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

.content {
  font-family: "Montserrat", sans-serif;
  width: 90%;
}

.background {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}