@import url("settings.css");
@import url("filter.css");
@import url("title_filter.css");
/* ******************************************************************************** */

.config_content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.content {
    width: 1348px;
    height: 1000px;
    margin-top: 50px;
}



