.instagram {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 200px;

    h1 {
        text-align: center;
    }
}

.green_line {
    background-color: var(--border-color);
    width: 130px;
    height: 4px;
    margin: 30px;
}

.instagram_img {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.instagram_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    overflow: hidden;
    position: relative;
    margin: 10px;
}

.instagram_photo {
    margin: 5px;
    width: 220px;
    height: 220px;
    background-position: center;
    object-fit: cover;
    transition: .9s;
}

.blackout {
    filter: brightness(40%);
}


.instagram_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    z-index: 50;
    pointer-events: none;
    transform: translate(-50%, -50%);
    filter: invert(100%);
    opacity: 0%;
}