{% load static %}
{% load goods_tags %}

{% load tag_config %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/deps/css/my_css.css' %}">

    {% block css %}{% endblock %}
    <!-- Favicons for different platforms -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>{{ title }}</title>
</head>

<body>
    <div class="block-content">
        <div class="content">
            <div class="header">
                <div class="info_text">
                    <div class="home">
                        <a class="link_home" href="{% url 'main:index' %}">Главная</a>
                        {% show_home %}
                    </div>

                    <div class="catalog">
                        <a class="link_catalog" href="">Каталог</a>
                        {% show_home %}
                    </div>
                    {% tag_categories as categories %}
                    {% for category in categories %}
                    <a href="{% url 'catalog:index' category.slug %}">{{category.name}}</a>
                    {% endfor %}

                    <div class="information">
                        <a class="link_information" href="">Информация</a>
                    </div>
                    <!-- <a href="#">Доставка и оплата</a> -->
                    <!-- <a href="#">Контактная информация</a> -->
                    <!-- <a href="{% url 'main:about' %}">Про нас</a> -->
                    <a class="help_in_choice" href="">Помощь в выборе</a>
                </div>
                {% comment "" %}
                <a class="nav-link  text-white" href="{% url 'user:users_cart' %}">Корзина</a>
                {% endcomment %}
                <div class="search">
                    <form class="d-flex me-1" role="search" action="{% url 'catalog:search' %}" method="get">
                        <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search">
                        <button type="submit">Поиск</button>
                    </form>
                </div>
                {% block modal_cart %}{% endblock %}
                <img src="{% static 'deps/icons/user.svg' %}" alt="Profile Icon" width="24" height="24">
                {% if not user.is_authenticated %}
                <a class="nav-link  text-black" href="{% url 'user:login' %}">Войти</a>
                {% else %}

                <a class="dropdown-item  text-black" href="{% url 'user:profile' %}">Личный кабинет</a>

                {% if user.is_admin or user.is_staff %}
                <a class="dropdown-item  text-black" href="{% url 'admin:index' %}">Админ панель</a>
                {% endif %}
                <a class="dropdown-item  text-black" href="{% url 'user:logout' %}">Выйти</a>
                {% endif %}
            </div>
            <img src="{% static '/deps/images/main_bg_img.jpg' %}" alt="" class="background">
        </div>
    </div>
    <section>
        <!-- Контент -->
        {% block content %}{% endblock %}
        {% include "includes/notifications.html" %}

    </section>

    {% block footer %}{% endblock %}

    <script src="{% static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'deps/js/jquery-ajax.js' %}"></script>
    <script src="{% static 'deps/js/bootstrap/bootstrap.bundle.min.js' %}"></script>


    <script src="{% static 'deps/js/header.js' %}"></script>

    <style>
        @import url("{% static 'deps/css/home/header.css' %}");
        @import url("{% static 'deps/css/settings.css' %}");
    </style>

    <script>
        window.addEventListener('load', function () { document.body.classList.remove('loading') })
    </script>
</body>

</html>