{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{% static '/css/styles.css' %}" />

  <!-- Favicons for different platforms -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet" />

  <title></title>
</head>

<body>
  <div class="block-content">
    <div class="content">
      {% block header %}{% endblock %}
      {% block slogan %}{% endblock slogan %}
      {% block images_line %}{% endblock images_line %}
      {% block hot_deal %}{% endblock hot_deal %}
        
        


      <img src="{% static '/images/main_bg_img.jpg' %}" alt="" class="background" />
    </div>
  </div>

  <script src="{% static './js/home.js' %}"></script>

</body>

</html>