{% extends 'main/base.html' %}
{% load static %}
{% load main_tag %}

{% block header %}
<div class="header">
  <img class="menu_open" src="{% static './icons/free-icon-menu-bar-8111040.png' %}" alt="" />

  <div id="show_home_block" class="show_home_block">
    {% show_home_block %}
    {% show_home_catalog%}
  </div>

  <div class="info_text">
    <div class="panel">
      <a class="menu">
        <img src="{% static 'icons/free-icon-menu-bar-8111040.png' %}" />
        <div class="title">MENU</div>
      </a>
      <a class="login">
        <img src="{% static 'icons/user.svg' %}" />
        <div class="title">LOGIN</div>
      </a>
    </div>
    <a id="link_home" class="link_home" href="">Главная</a>
    <a id="catalog" class="catalog" href="">Каталог</a>
    <a id="information" class="information" href="">Информация</a>
    <a id="help" class="help" href="">Помощь в выборе</a>
  </div>
  <a class="nav-link text-white" href="">Корзина</a>
  <div class="search">
    <form class="d-flex me-1" role="search" action="" method="get">
      <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search" />
      <button type="submit">Поиск</button>
    </form>
  </div>
  <img src="{% static './icons/user.svg' %} " alt="Profile Icon" width="24" height="24" />
  <a class="nav-link text-black" href="">Войти</a>
</div>
{% endblock %}


{% block content %}
<div class="slogan_block">
  <p>Вам нужно</p>
  <h1 class="title">Производство Лучшего Чая</h1>
  <p>Чай от нашего производства</p>
  <a href="" class="learn_more">УЗНАТЬ БОЛЬШЕ</a>
</div>


<div class="images_line">
  <div class="block_line">
    <div class="img_block">
      <div class="links_shop">
        <a>Улун</a>
        <a class="links" >КУПИТЬ</a>
      </div>
      <img src="{% static 'images/line_1.png' %}" alt="">
    </div>
    <div class="img_block">
      <div class="links_shop">
        <a>Зеленый</a>
        <a class="links" >КУПИТЬ</a>
      </div>
      <img src="{% static 'images/line_2.png' %}" alt="">
    </div>
    <div class="img_block">
      <div class="links_shop">
        <a>Травянной</a>
        <a class="links" >КУПИТЬ</a>
      </div>
      <img src="{% static 'images/line_3.png' %}" alt="">
    </div>
    <div class="img_block">
      <div class="links_shop">
        <a>Цветочный</a>
        <a class="links" >КУПИТЬ</a>
      </div>
      <img src="{% static 'images/line_4.png' %}" alt="">
    </div>
  </div>

</div>

{% endblock content %}