{% extends 'main/base.html' %}
{% load static %}
{% load main_tag %}

{% block header %}
<div class="header">
  {% mobile_menu %}
  <img class="menu_open" src="{% static './icons/free-icon-menu-bar-8111040.png' %}" alt="" />

  <div id="show_home_block" class="show_home_block">
    {% show_home_block %}
    {% show_home_catalog %}
  </div>

  <div class="info_text">
    <a id="link_home" class="link_home" href="">Главная</a>
    <a id="catalog" class="catalog" href="">Каталог</a>
    <a id="information" class="information" href="">Информация</a>
    <a id="help" class="help" href="">Помощь в выборе</a>
  </div>
  <a class="nav-link text-white" href="">Корзина</a>
  <div class="search">
    <form class="d-flex me-1" role="search" action="" method="get">
      <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search" />
      <button type="submit">Поиск</button>
    </form>
  </div>
  <img src="{% static './icons/user.svg' %} " alt="Profile Icon" width="24" height="24" />
  <a class="nav-link text-black" href="">Войти</a>
</div>
{% endblock %}



{% block slogan %}


<div class="slogan_block">
  <p>Вам нужно</p>
  <h1 class="title">Производство Лучшего Чая</h1>
  <p>Чай от нашего производства</p>
  <a href="" class="learn_more">УЗНАТЬ БОЛЬШЕ</a>
</div>
{% endblock slogan %}


{% block images_line %}
<div class="images_line">
  <div class="block_line">
    <div class="img_block">
      <div class="links_shop">
        <a>Улун</a>
        <a class="links">КУПИТЬ</a>
      </div>
      <img src="{% static 'images/line_1.png' %}" alt="">
    </div>
    <div class="img_block">
      <div class="links_shop">
        <a>Зеленый</a>
        <a class="links">КУПИТЬ</a>
      </div>
      <img src="{% static 'images/line_2.png' %}" alt="">
    </div>
    <div class="img_block">
      <div class="links_shop">
        <a>Травянной</a>
        <a class="links">КУПИТЬ</a>
      </div>
      <img src="{% static 'images/line_3.png' %}" alt="">
    </div>
    <div class="img_block">
      <div class="links_shop">
        <a>Цветочный</a>
        <a class="links">КУПИТЬ</a>
      </div>
      <img src="{% static 'images/line_4.png' %}" alt="">
    </div>
  </div>
</div>
{% endblock images_line %}


{% block hot_deal %}
<div class="hot_deal">
  <p class="deal">ГОРЯЧЕЕ ПРЕДЛОЖЕНИЕ</p>
  <div class="green_line"></div>
  <p class="comment">Не пропустите горячее предложение</p>

  <!-- Images -->
  <div class="item_images_block">
    <a class="item_images" href="">
      <img src="{% static 'images/bn0.png' %}" alt="">
      <div class="panel_links">
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/menu.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/search.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/love.png' %}" alt="">
        </div>
      </div>
      <div class="price_block">
        <h3>Зазвание</h3>
        <p>$23.00</p>
      </div>
    </a>
    <a class="item_images" href="">
      <img src="{% static 'images/bn0.png' %}" alt="">
      <div class="panel_links">
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/menu.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/search.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/love.png' %}" alt="">
        </div>
      </div>
      <div class="price_block">
        <h3>Зазвание</h3>
        <p>$23.00</p>
      </div>
    </a>
    <a class="item_images" href="">
      <img src="{% static 'images/bn0.png' %}" alt="">
      <div class="panel_links">
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/menu.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/search.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/love.png' %}" alt="">
        </div>
      </div>
      <div class="price_block">
        <h3>Зазвание</h3>
        <p>$23.00</p>
      </div>
    </a>
    <a class="item_images" href="">
      <img src="{% static 'images/bn0.png' %}" alt="">
      <div class="panel_links">
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/menu.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/search.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/love.png' %}" alt="">
        </div>
      </div>
      <div class="price_block">
        <h3>Зазвание</h3>
        <p>$23.00</p>
      </div>
    </a>
    <a class="item_images" href="">
      <img src="{% static 'images/bn0.png' %}" alt="">
      <div class="panel_links">
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/menu.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/search.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/love.png' %}" alt="">
        </div>
      </div>
      <div class="price_block">
        <h3>Зазвание</h3>
        <p>$23.00</p>
      </div>
    </a>
    <a class="item_images" href="">
      <img src="{% static 'images/bn0.png' %}" alt="">
      <div class="panel_links">
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/menu.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/search.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/love.png' %}" alt="">
        </div>
      </div>
      <div class="price_block">
        <h3>Зазвание</h3>
        <p>$23.00</p>
      </div>
    </a>
    <a class="item_images" href="">
      <img src="{% static 'images/bn0.png' %}" alt="">
      <div class="panel_links">
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/menu.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/search.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/love.png' %}" alt="">
        </div>
      </div>
      <div class="price_block">
        <h3>Зазвание</h3>
        <p>$23.00</p>
      </div>
    </a>
    <a class="item_images" href="">
      <img src="{% static 'images/bn0.png' %}" alt="">
      <div class="panel_links">
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/menu.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/search.png' %}" alt="">
        </div>
        <div class="block_panel_links">
          <img href="asdf" src="{% static 'icons/love.png' %}" alt="">
        </div>
      </div>
      <div class="price_block">
        <h3>Зазвание</h3>
        <p>$23.00</p>
      </div>
    </a>

  </div>

</div>
{% endblock hot_deal %}


{% block photo_blog %}
<div class="photo_blog">
  <div class="left_blog_img">
    <a href=""><img src="{% static 'images/photo_blog_1.png' %}" alt=""></a>
    <h1>Цветочный чай</h1>
  </div>
  <div class="right_blog_img">
    <div class="top_blog_img">
      <h1>Зеленый чай</h1>
      <a href=""><img src="{% static 'images/photo_blog_2.png' %}" alt=""></a>
    </div>
    <div class="bottom_blog_img">
      <div class="left_img">
        <h1>Ромашковый чай</h1>
        <a href=""><img src="{% static 'images/photo_blog_3.png' %}" alt=""></a>
      </div>
      <div class="right_img">
        <h1>Лотосовый чай</h1>
        <a href=""><img src="{% static 'images/photo_blog_4.png' %}" alt=""></a>
      </div>
    </div>
  </div>
</div>
{% endblock photo_blog %}


{% block instagram %}
<div class="instagram">
  <h1>instagram</h1>
  <div class="green_line"></div>
  <div class="instagram_img">
    <div class="instagram_content">
      <a href="">
        <img class="instagram_photo" src="{% static 'images/instagram1.png' %}" alt="">
        <img class="instagram_icon" src="{% static 'icons/instagram.png' %}" alt="">
      </a>
    </div>

    <div class="instagram_content">
      <a href="">
        <img class="instagram_photo" src="{% static 'images/instagram2.png' %}" alt="">
        <img class="instagram_icon" src="{% static 'icons/instagram.png' %}" alt="">
      </a>
    </div>

    <div class="instagram_content">
      <a href="">
        <img class="instagram_photo" src="{% static 'images/instagram3.png' %}" alt="">
        <img class="instagram_icon" src="{% static 'icons/instagram.png' %}" alt="">
      </a>
    </div>

    <div class="instagram_content">
      <a href="">
        <img class="instagram_photo" src="{% static 'images/instagram4.png' %}" alt="">
        <img class="instagram_icon" src="{% static 'icons/instagram.png' %}" alt="">
      </a>
    </div>

    <div class="instagram_content">
      <a href="">
        <img class="instagram_photo" src="{% static 'images/instagram5.png' %}" alt="">
        <img class="instagram_icon" src="{% static 'icons/instagram.png' %}" alt="">
      </a>
    </div>

  </div>
</div>

{% endblock instagram %}