{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
<div class="background-section d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-white"><strong>Качественное производство чая</strong></h1>
        <button class="btn btn-secondary bg-white text-black br0 m-2 p-3">УЗНАТЬ О ТОВАРАХ</button>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-white">
    <div class="container">
        <p class="m-0 text-center text-black ">tyt bydet text</p>
    </div>
</footer>
{% endblock %}


