.adaptability {
    position: absolute;
    display: flex;
    background-color: var(--background-color);
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 320px;
    height: 100%;
    left: -320px;
    top: 0px;
}

.adaptability a {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px solid var(--shadow);
    width: 300px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}


.panel {
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.panel>.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 50%;
    background-color: var(--text-color);
    color: var(--background-color);
}

.panel>.login {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 50%;
    background-color: var(--background-color);
    color: var(--text-color);
}

.menu>img {
    width: 30px;
    height: 30px;
    filter: invert();
}

.login>img {
    width: 30px;
    height: 30px;
}
.menu_open {
    transform: rotate(180deg);
    cursor: pointer;
    width: 30px;
    height: 30px;
}