{% load static %}

<div class="exhaust_menu">
    <div class="panel">

        <a class="menu">
            <img src="{% static 'icons/free-icon-menu-bar-8111040.png' %}" />
            <div class="title">MENU</div>
        </a>
        <a class="login">
            <img src="{% static 'icons/user.svg' %}" />
            <div class="title">LOGIN</div>
        </a>
    </div>

    <div class="menu_list">
        <a  href="">ГЛАВНАЯ</a>
        <a  href="">КАТАЛОГ</a>
        <a  href="">ИНФОРМАЦИЯ</a>
        <a  href="">ПОМОЩЬ В ВЫБОРЕ</a>
    </div>

</div>