{% load static %}

<div class="block_img">
    <div class="img">
        <a href=""><img src="{% static '/images/bn0.png' %}" alt="" /></a>

        <a href="">
            <h6>Главная 1</h6>
            <div class="line"></div>
        </a>
    </div>

    <div class="img">
        <a href=""><img src="{% static '/images/bn1.png' %}" alt="" /></a>
        <a href="">
            <h6>Главная 1</h6>
            <div class="line"></div>
        </a>
    </div>

    <div class="img">
        <a href=""><img src="{% static '/images/bn2.png' %}" alt="" /></a>
        <a href="">
            <h6>Главная 1</h6>
            <div class="line"></div>
        </a>
    </div>

    <div class="img">
        <a href=""><img src="{% static '/images/bn3.png' %}" alt="" /></a>
        <a href="">
            <h6>Главная 1</h6>
            <div class="line"></div>
        </a>
    </div>
</div>


<style>
    .block_img {
        visibility: hidden;
        width: 700px;
        height: 600px;
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: var(--background-color);
    }

    .block_img img {
        width: 300px;
        height: 200px;
        background-position: center center;
        background-size: cover;
        width: 300px;
        margin: 20px;
        transition: box-shadow .2s;
    }

    .block_img img:hover {
        transition: box-shadow .2s;
        box-shadow: 3px 14px 14px rgba(0, 0, 0, 0.08);
    }

    .block_img h6 {
        color: var(--text-color);
        margin-left: 20px;
        transition: color .5s;
    }


    .block_img h6:hover {
        color: rgb(67, 179, 53);
        transition: color .5s;
    }

    a>.line {
        background-color: var(--border-color);
        width: 20px;
        height: 1px;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*Show home catalog************************ */
    .block_catalog {
        visibility: hidden;
        position: absolute;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        /* background-color: var(--background-color); */
        background-color: red;
        width: 100%;
    }
</style>