{% load static %}

<link rel="stylesheet" href="{% static '/css/settings.css' %}" />
<link rel="stylesheet" href="{% static '/css/home/animation.css' %}" />
<link rel="stylesheet" href="{% static '/css/home/content.css' %}" />
<link rel="stylesheet" href="{% static '/css/home/header.css' %}" />
<link rel="stylesheet" href="{% static '/css/home/mobile_menu.css' %}" />
<link rel="stylesheet" href="{% static '/css/home/slogan.css' %}" />
<link rel="stylesheet" href="{% static '/css/home/images_line.css' %}" />
<link rel="stylesheet" href="{% static '/css/home/hot_deal.css' %}" />
<link rel="stylesheet" href="{% static '/css/home/photo_blog.css' %}" />
<link rel="stylesheet" href="{% static '/css/home/instagram.css' %}" />
<link rel="stylesheet" href="{% static '/css/home/adaptability.css' %}" />
<link rel="stylesheet" href="{% static '/css/footer.css' %}" />